.item1{
  background-color: lightpink;
}

.flex-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  border-style: solid;
  align-items: center;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.795);
}