.search-box{
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-color: rgb(180, 180, 180);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  color: rgb(180, 180, 180);
  
}